<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SynPlayer</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/switcher.css" />
    <link rel="stylesheet" href="styles/controls.css" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
  </head>
  <body>
    <div class="container">
      <div class="welcome-container">
        <div id="welcome-text">
          <h1>Welcome to SyncPlayer</h1>
        </div>
        <div id="presentation-content">
          <img src="./assets/illustration.svg" height="350px" />
          <div id="presentation-texts">
            <p>
              I started this project due to the lack of watching things
              sychronously on my computer along with somebody else, who wasn't
              physically with me. As the name suggests, this program syncs the
              <i>"play"</i> and <i>"pause"</i> buttons, allowing you to watch
              more confortably with somebody who is in another computer. This
              project is part of my studies in Electron, and I am not
              responsible for your misuse.
            </p>
            <div id="contact-info">
              <p id="myGithub">
                <i
                  data-feather="github"
                  style="width: 20px; height: 20px; margin-right: 5px;"
                ></i>
                Github profile
              </p>
              <p id="myLinkedin">
                <i
                  data-feather="linkedin"
                  style="width: 20px; height: 20px; margin-right: 5px;"
                ></i>
                LinkedIn account
              </p>
              <p id="myPortfolio">
                <i
                  data-feather="book"
                  style="width: 20px; height: 20px; margin-right: 5px;"
                ></i>
                Portfolio
              </p>
            </div>
            <div id="connection">
              <div id="floating-content">
                <i
                  data-feather="link"
                  style="width: 20px; height: 20px; margin-right: 5px;"
                ></i>
                <p id="myId"></p>
              </div>
              <div id="floating-content">
                or
              </div>
              <div id="floating-content">
                <input id="friendId" placeholder="Insert a user's id here" />
                <label class="switch">
                  <input type="checkbox" name="switcher" id="switcher" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
            <button id="watch">
              <i
                data-feather="film"
                style="width: 20px; height: 20px; margin-right: 5px;"
              ></i
              >Start Watching
            </button>
          </div>
        </div>
        <div id="footer">
          <p>
            <i
              data-feather="package"
              style="width: 20px; height: 20px; margin-right: 5px;"
            ></i>
            Version 1.0
          </p>
          <p id="repository">
            <i
              data-feather="github"
              style="width: 20px; height: 20px; margin-right: 5px;"
            ></i>
            Github Repository
          </p>
        </div>
      </div>

      <div class="player-container">
        <div class="label">
          <p id="label">SynPlayer</p>
        </div>
        <div id="video-container">
          <div class="player">
            <video id="media-video" controls="false">
              <source type="video/mp4" id="video" />
              <track kid="subtitle" srclang="pt" id="caption" default />
            </video>
          </div>
          <div class="player-controls">
            <div class="progress-frame">
              <progress value="0.5" max="1" id="progress"></progress>
            </div>
            <div class="options-frame">
              <div class="play-pause-frame">
                <img
                  id="play-pause"
                  src="./assets/play-circle.svg"
                  width="35"
                  height="35"
                />
                <div class="timeStamps">
                  <span id="currentTime">--:--:--</span>
                </div>
              </div>
              <div class="maximize-minimize-frame">
                <div class="timeStamps"><span id="totalTime"></span></div>
                <div class="volume-control">
                  <img
                    id="volumeIndicator"
                    src="./assets/volume-2.svg"
                    style="margin-right: 5px;"
                    width="20"
                    height="20"
                  />
                  <input
                    type="range"
                    id="volumebar"
                    class="volumebar"
                    value="1"
                    min="0"
                    max="1"
                    step="0.1"
                  />
                </div>
                <img
                  id="captions"
                  width="35"
                  height="35"
                  src="./assets/deaf.svg"
                />
                <img
                  id="maximize-minimize"
                  width="35"
                  height="35"
                  src="./assets/maximize.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      feather.replace();
    </script>

    <script src="./js/Menu.js"></script>
    <script src="./js/loadsrt.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/websocket.js"></script>
    <script src="./js/controls.js"></script>
    <script src="./js/open_external.js"></script>
  </body>
</html>
